#section2{
    height: 700px;
    background-color: blue;
    background-image: url(images/pizza-margherita.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#logo{
    position: relative;
    left: -350px;
    font-weight: bold;
}
#p2{
    color: white;
    font-weight: bold;
}
.section2{
    text-align: center;
    margin-top: 130px;
}
#p1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: goldenrod;
}
.btn{
    font-weight: bold;
    background-color: orange;
    border-radius: 20px;
}
#p3{
    text-align: center;
    color: green;
    margin-top: 10px;
    
}
#section3{
    height: 580px;
    background-color: #F0F0E1;
    border-top: 3px solid white;

}
#col1{
    background-color: orange;
    height: 350px;
}
.video {
    height: 400px;
    
 }
 #about{
     text-align: center;
     margin-top: 30px;

     
 }
 #video{
     position: relative;
     left: 60px;
     background-color: orange;
     
 }
 #duty{
     font-weight: bold;
 }
 .variety>img{
     height: 250px;
     width: 250px;
    
 }
 .variety{
    border: 2px solid whitesmoke;
    padding: 20px;
    box-shadow: 10px solid whitesmoke;
    margin-right: 20px;
    height: 350px;
    width: 350px;
 }
 #row1{
     margin-left: 60px;
     margin-top: 100px;
 }
 .h4{
     color: green;
 }
 .sect{
     position: relative;
     top: -80px;
     
 }
 #p4{
     text-align: center;

 }
 #section5{
     height: 700px;
 }
 .sect2{
     height: 500px;
 }
 #btn{
    font-weight: bold;
    background-color: orange;
    border-radius: 20px;
    height: 35px;
    width: 80px;
 }
 #card1{
     background-color: #000000;
     height: 650px;
     color: white;
 }
 #row2{
     margin-left: 100px;
 }
 #section6{
     height: 550px;
     background-color: whitesmoke;
     
 }
 .delivery{
     display: none;
 }
 #orders{
     display: none;
 }
 #check,#hide,#delivery,#add{
     display: none;
 }